{% extends "excerpts/base.weasy.html" %}
{%- block pagesize %}portrait{%- endblock %}

{%- block main %}

<div class="footer_div">{{this.excerpt_type}}</div>

<p class="EnhancedPar">
{{obj.get_full_name(nominative=True)}}
<br>
{{', '.join(obj.address_location_lines())}}
</p>

<p><br><br><br></p>

<p>{{_("We remind you that the following invoices are due.")}}</p>
<p>Wir erinnern Sie an folgende ausstehenden Zahlungen.</p>

<div>{{ar.show(site.models.accounting.DebtsByPartner, obj)}}</div>

<p><br><br><br></p>

<p>{{this.user}}</p>


{%- endblock %}
